{% extends "base.html" %} {% block content %}
<h3>Edit Expense</h3>
<form method="post" action="{{ url_for('edit', id=expense._id) }}">
  <div class="mb-3">
    <label>Category</label>
    <input
      name="category"
      class="form-control"
      value="{{ expense.category }}"
      required
    />
  </div>
  <div class="mb-3">
    <label>Amount</label>
    <input
      name="amount"
      type="number"
      step="0.01"
      class="form-control"
      value="{{ expense.amount }}"
      required
    />
  </div>
  <div class="mb-3">
    <label>Date</label>
    <input
      name="date"
      type="date"
      class="form-control"
      value="{{ expense.date_str }}"
      required
    />
  </div>
  <button class="btn btn-primary">Save</button>
  <a class="btn btn-secondary" href="{{ url_for('index') }}">Cancel</a>
</form>
{% endblock %}
